{% extends "login_logout.html" %}
{% load staticfiles %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/fa-min.css' %}" />
{% endblock %}
{% block ll %}
<div class="loginform">
    <h2>
        <img src="{% static 'images/logo.png' %}" width="200" />
    </h2>
    <p class="text">
        Вы успешно вышли с сайта.
    </p>
    <p style="text-align: center;">
        <a href="{% url 'login' %}">
            <button>
                Войти
            </button>
        </a>
        <a href="{% url 'main' %}" >
            <button>
                Главная
            </button>
        </a>
    </p>
<div>
{% endblock %}
