/* GLOBAL DEFINITIONS */
html {
    width: 100%;
    min-height: 100%;
    font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    min-width: 320px;
}
body {
    min-width: 320px;
    width: 100%;
    padding: 0;
    margin: 0;   
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-size: cover;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}
button {
    font-family: inherit!important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    background: #5369bd;
    border: none;
    border-bottom: 4px solid #6f84d4;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 5px 0;
    transition: background 0.1s ease-out;
}
button:hover {
    transition: background 0.1s ease-out;
    background: #8195e1;
    cursor: pointer;
}
button:active {
    background: #6175c1;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    line-height: 1.7em;
    text-align: left;
}

/* DEFINITIONS FOR IDS */
#header {
    padding: 20px 0;
    min-width: 320px;
    width: 100%;
    height: 50px;
    margin: 0;
    background: #5369bd;
    position: fixed;
    z-index: 10;
}
#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    display: block;
    max-width: 960px;
    padding: 20px 40px;
    background: #fff;
    min-height: 700px;
}
#footer {
    max-width: 960px;
    border-top: 1px solid #e1e1e1;
    color: #aeaeae;
    padding: 20px 40px;
    margin: 0 auto;
    background: #fff;
}
#about {
    margin-top: 20px;
    min-height: 290px;
}
#about > div.slider {
    width: 300px;
    margin: 0 50px 0 0;
    display: inline-block;
    position: absolute;
    height: 300px;
}
#about > div.slider > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#submit {
    font-family: inherit!important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    background: #5369bd;
    border: none;
    border-bottom: 4px solid #6f84d4;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
    transition: background 0.1s ease-out;
}
#submit:hover {
    transition: background 0.1s ease-out;
    background: #8195e1;
    cursor: pointer;
}
#submit:active {
    background: #6175c1;
    cursor: pointer;
}
#about > div + div#abouttext {
    display: inline-block;
    margin-left: 350px;
    vertical-align: top;
}
#aboutshowcase {
	display: inline-block;
	margin-left: 200px;
    vertical-align: top;
	margin-bottom: 20px;
}
#aboutshowcase > p {
	min-height: 100px;
}
#about > div.ellipse {
	width: 160px;
	height: 160px;
}
#about > div.ellipse > img {
	margin-top: 40px!important;
}
#directions {
    margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
    text-align: center;
}
#directions > a > div {
    width: 300px;
    margin: 10px;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
}
.ellipse {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #6f84d4;
    text-align: center;
    color: #fff;
    font-size: 70px;
    margin: 0 auto;
	transition: background 0.1s linear;
}
#directions > a:hover > div > div.ellipse {
	background: #3c56ba;
	transition: background 0.1s linear;
}
#directions > a:hover > div > p.sectitle {
	color: #3c56ba;
	transition: color 0.1s linear, border-color 0.1s linear;
	border-color: #3c56ba;
}
.ellipse > i {
    margin-top: 60px;
}
.description {
	font-size: 13px;
}
#directions > a > div > i.fa {
	color: #5369bd;
	font-size: 80px;
}
#cin {
	position: relative;
	width: 600px;
	height: 338px;
	background: #f2f2f2;
}
.sectitle {
    font-size: 21px; 
    color: #6f84d4;
	font-weight: bold;
	border-bottom: 2px solid #6f84d4;
    margin-bottom: 0px;
	transition: color 0.1s linear, border 0.1s linear;
}
#branches > p.title {
    margin-bottom: 0px;
}
#branches > div {
    vertical-align: top;
    padding-top: 20px;
    width: 230px;
    display: inline-block;
    font-size: 13px;
}
#partners > p.title {
    margin-bottom: 0px;
}
#photos,
#news {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
#contacts {
    display: inline-block;
    height: 450px;
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}
#popup > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 40px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 5px;
}
#popup > div > img {
    max-width: 100%;
    max-height: 400px;
    margin: auto;
    display: block;
}
#popup > div > p {
    color: #000;
    text-align: center;
    font-size: 13px;
}
#popup > div > i.fa-close {
    position: absolute;
    top: 0;
    right: -50px;
    vertical-align: top;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}
#popup > div > i.fa-angle-left {
    position: absolute;
    top: 40%;
    left: 10px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}
#popup > div > i.fa-angle-right {
    position: absolute;
    top: 40%;
    right: 10px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

/* DEFINITIONS FOR CLASSES */
.limg {
    margin-right: -5px !important;
}
.title {
    font-weight: bold;
    color: #6f84d4;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.title > a {
	transition: color 0.1s linear;
}
.title > a:hover {
	color: #3c56ba;
	transition: color 0.1s linear;
}
.article {
    padding: 15px 0;
    border-top: 1px solid #dfdfdf;
}
.article > div.articleinfo > div.datetime {
    padding-top: 10px;
    color: #5369bd;
}
.article > img {
    display: inline-block;
    width: 130px;
    border-radius: 75px;
    margin: 0;
    margin-bottom: 10px;
	opacity: 0.7;
	transition: opacity 0.1s linear;
}
.article > div.articleinfo {
    display: inline-block;
    width: 75%;
    padding: 0 20px;
    vertical-align: top;
}
.article > div.articleinfo > div.newstitle {
    color: #6f84d4;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;	
	transition: color 0.1s linear;
}
.article:hover > div.articleinfo > div.newstitle {
	color: #3c56ba;
	transition: color 0.1s linear;
}
.article:hover > img {
	opacity: 1;
	transition: opacity 0.1s linear;
}
.article > div.articleinfo > div.content {
    display: block;
    line-height: 1.7em;
}
.article > div.articlefull > div.content {
    display: inline-block;
    text-align: justify;
}
.article > div.articlefull > img {
    display: inline;
    max-width: 500px;
    max-height: 300px;
    padding-left: 40px;
    padding-bottom: 10px;
    float: right;
}
.article > div.articlefull > div.content {
    display: inline;
}
.contactform {
    width: 100%;
    max-width: 600px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}
.contactform > form > input {
    background: #f2f2f2;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 20px 15px;    
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    transition: background 0.1s ease-out;
}
.contactform > form > input:focus {
    transition: background 0.1s ease-out;
    background: #fafafa;
}
.contactform > form > textarea {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px 15px; 
    width: 100%;
    height: 100px;
    font-family: inherit;
    font-size: 14px;
    resize: none;
    transition: background 0.1s ease-out;
    box-sizing: border-box;
}
.contactform > form > textarea:focus {
    transition: background 0.1s ease-out;
    background: #fafafa;
}
.contactform > form > input#name {
    width: 45%;
}
.contactform > form > input#e-mail {
    width: 45%;
    float: right;
}
.contactform > form > input#title {
    width: 100%;
}
.contactform > form > p {
    display: inline-block;
    margin-left: 20px;
    color:  #5369bd;
    letter-spacing: 1px;
}
.contacttext {
    background: #5369bd;
    color: #fff;
    display: inline-block;
    max-width: 280px;
    height: 320px;
    vertical-align: top;
    margin-top: 78px;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    float: right;
}
.capstitle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #fff;
}
.contacttext > div.cont > p {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
.cont {
    margin-bottom: 20px;
}
.fordrivers {
    margin-left: 20px;
}
.photo {
    width: 200px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    border: 1px solid #fff;
    background: #fff;
    vertical-align: top;
    position: relative;
}
.photo > i {
    font-size: 100px;
    position: absolute;
    padding: 50px;
    background: rgba(255,255,255,0.8);
    display: block;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    color: #5369bd;
}
.photo > div > p > i {
    color: #5369bd;
}
.photo > div > p {
    margin: 0;
    padding: 0;
    color: #7e7e7e;
    display: inline-block;
    padding: 5px;
}
.photo > div > p:nth-child(2) {
    float: right;
}
.photo > img {
    width: 200px;
}
.photo:hover > i {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.1s ease-out;
}
.spressed > form > input {
    margin-bottom: -5px;
}
.loginform {
    width: 300px;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
    background: #fff;
    margin: 10% auto;
    border-radius: 5px;
}
.loginform > h2 {
    text-transform: uppercase;
    background: #5369bd;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.loginform > p + p > a {
    display: inline-block;
    margin: 5px 5px;
}
.loginform > p.text {
    font-size: 14px;
    border-top: 1px solid #d7d8d0;
    border-bottom: 1px solid #d7d8d0;
    width: 200px;
    padding: 15px;
    margin: 25px auto;
}
.loginform > form > div > input {
    font-family: inherit!important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    background: #5369bd;
    border: none;
    border-bottom: 4px solid #6f84d4;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 10px 0px;
    transition: background 0.1s ease-out;
    width: 220px;
}
.loginform > form > div > input:hover {
    transition: background 0.1s ease-out;
    background: #8195e1;
    cursor: pointer;
}
.loginform > form > div > input:active {
    background: #6175c1;
    cursor: pointer;
}
.form-field {
    width: 220px;
    margin: auto;
}
.form-field > div.control {
    width: 220px;
}
.form-field > div.control > input {
    width: 200px!important;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 12px 10px;
    background: #eaeaea;
    transition: background 0.1s ease-out;
}
.form-field > div.control > input:focus {
    background: #f9f9f9;
    border: 1px solid #eaeaea;
    transition: background 0.1s ease-out;
}
.form-field > div.label {
    font-size: 13px;
    text-align: left;
    color: #848484;
    padding-bottom: 5px;
}
#about > a > div.ellipse {
    float: left;
    margin-right: 30px;
}

/* @MEDIA DEFINITIONS */
@media only screen and (min-width:0px) and (max-width:850px) {
    #abouttext {
        margin-left: 230px;
    }
    .article > div.articlefull > img {
        max-width: 100%!important;
        max-height: 100%!important;
    }
    .article > div.articleinfo {
        width: 100%;
        padding: 0;
		padding-top: 10px;
    }
    #menu {
        margin: 0 auto;
        display: block;
        max-width: 1000px;
        padding: 0 20px;
    }
    #menu > a > img {
        max-width: 240px;
        display: inline-block;
        vertical-align: center;
        padding-top: 6px;
    }
    #menu > ul {
        margin: 10px -20px 35px -20px;
        padding: 0;
        padding-bottom: 10px;
        display: block;
        visibility: hidden;
        list-style: none;
        background: #5369bd;
        opacity: 0;
        text-align: center;
    }
    #menu > ul > li {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
    }
    #menu > a > i.fa-bars {
        color: #fff;
        float: right;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 8px;
        vertical-align: top;
    }
    #menu > a {
        cursor: pointer;
    }
}
@media only screen and (min-width:0px) and (max-width:650px) {
	#directions {
		margin-left: 0!important;
		margin-right: 0!important;
	}
    #abouttext {
        margin-left: 0!important;
    }
    #submit {
        width: 100%;
    }
    #header {
        padding: 10px 0!important;
    }
    #photos {
        text-align: center;
    }
    .spressed {
        display: block!important;
    }
    .photo {
        margin: 20px;
    }
    .contacttext {
        width: auto;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    #contacts {
        width: 100%;
        height: auto;
    }
    #cin {
        display: none!important;
        width: 0!important;
        height: 0!important;
    }
    #about > div.slider > ul > li > img,
    #about > div.slider {
        width: 270px!important;
        height: 270px!important;
    }
    #about > div.slider > ul > li > p {
        width: 250px!important;
    }
    #about > div.slider > ul > li > p {
        top: 190px!important;
        height: 60px!important;
    }
    #footer {
        padding: 20px!important;
        font-size: 12px;
    }
    .title {
        font-size: 18px!important;
    }
    .sectitle {
        font-size: 20px!important;
    }
    #content {
        padding: 20px!important;
    }
    #about > div.slider {
        margin: 0 auto!important;
        display: block!important;
        padding-bottom: 10px;
    }
    #about > div.slider {
        position: relative!important;
    }
    #about > div + div {
        margin-left: 0!important;
    }
    #directions > a > div {
        margin: 0!important;
		width: 100%!important;
    }
}
@media only screen and (min-width:650px) and (max-width:850px) {
    #about > div.slider {
        margin: 0 auto!important;
        display: block!important;
        padding-bottom: 10px;
    }
    #abouttext > h1 {
        padding-top: 0;
        margin-top: 0;
	}
	#about > div.ellipse {
		display: inline-block;
		position: absolute;
	}
}
@media only screen and (min-width:850px) {
    #abouttext {
        margin-left: 230px;
    }
	#about > div.ellipse {
		display: inline-block;
		position: absolute;
		margin-top: 10px;
	}
    #menu {
        margin: 0 auto;
        display: block;
        max-width: 1000px;
        padding: 0 10px;
    }
    #menu > a > img {
        max-width: 300px;
        display: inline-block;
    }
    #menu > ul {
        float: right;
        padding: 0;
        margin: 8px 0;
        display: inline-block!important;
        list-style: none;
        visibility: visible!important;
        opacity: 1!important;
    }
    #menu > ul > li {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
        transition: text-shadow 0.1s ease-out;
    }
    #menu > ul > li:hover {
        transition: text-shadow 0.1s ease-out;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    #menu > ul > li:active {
        cursor: pointer;
    }
    #menu > ul > li > img {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    #menu > a > .fa-bars {
        display: none;
        cursor: pointer!important;
    }
}
/* ENDBLOCK */

/* SLIDER PART */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
#about > div.slider > ul li {
    margin: 0px;
    padding: 0px;
    opacity: 0; 
    position: absolute;
    top: 0;  
    animation-name: anim_slides;
    animation-duration: 20.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;  
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 20.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 20.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
#about > div.slider > ul > li:nth-child(2) {
    -webkit-animation-delay: 5.0s;
    -moz-animation-delay: 5.0s;
}
#about > div.slider > ul > li:nth-child(3) {
    -webkit-animation-delay: 10.0s;
    -moz-animation-delay: 10.0s;
}
#about > div.slider > ul > li:nth-child(4) {
    -webkit-animation-delay: 15.0s;
    -moz-animation-delay: 15.0s;
}
#about > div.slider > ul > li > img {
    width: 300px;
    position: absolute;
    top: 0;
}
#about > div.slider > ul > li > p {
    position: absolute; 
    z-index: 12; 
    top: 224px; 
    font-size: 12px; 
    width: 280px; 
    height: 60px; 
    padding: 7px 10px; 
    background-color: rgba(255, 255, 255, 0.8); 
    line-height: 1.4em;
}
/* SLIDER PART ENDBLOCK */