{% extends 'main.html' %}
{% load i18n %}
{% load staticfiles %}
{% block main %}      
<div id="about">
    <div class="ellipse">
        <img style="color: white; margin-top: 60px;" width="80" src="{{ industry.src }}"/>
    </div>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ru' or LANGUAGE_CODE == 'ru-ru' %}
    <div id="aboutshowcase">
        <h1 class="title">
			<a href="{% url 'main' %}">О компании</a> » {{ industry.title_ru }}
		</h1>
        <p style="min-height: 130px">
        {{ industry.content_ru.rendered|safe }}
		</p>
    </div>
    <p class="title" style="margin-top: 30px;">Завершенные проекты</p>
    {% else %}
    <div id="abouttext">
        <h1 class="title">
			<a href="{% url 'main' %}">About</a> » {{ industry.title_en }}
		</h1>
        <p style="min-height: 130px"> 
        {{ industry.content_en.rendered|safe }}
		</p>
    </div>
    <p class="title" style="margin-top: 30px;">Completed projects</p>
    {% endif %}
    
    {% for project in projects %}

    {% endfor %}
</div>   
{% endblock %}