{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/fa-min.css' %}">
{% endblock %}
{% block title %}CARBON-SERVICE{% endblock %}
{% block content %}	
<!-- Header bar -->
<div id="header">
        <div id="menu">
            <a href="{% url 'main' %}">
                <img src="{% static 'images/logo.png' %}" />
            </a>
            <ul>
                <li>
                    <a href="{% url 'main' %}">{% trans 'О компании' %}</a>
                </li>
                <li>
                    <a href="{% url 'news' %}">{% trans 'Новости' %}</a>
                </li>
                <li>
                    <a href="#">{% trans 'Фотогалерея' %}</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">{% trans 'Контакты' %}</a>
                </li>
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'en' %}
                <li>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input name="language" type="hidden" value="ru" />
                        <input class="limg" type="image" src="{% static 'images/Russia-Round.png' %}" alt="Submit" height="30">
                    </form>
                </li>
                <li>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input name="language" type="hidden" value="de" />
                        <input class="limg" type="image" src="{% static 'images/Germany-Round.png' %}" alt="Submit" height="30">
                    </form>
                </li>
                {% elif LANGUAGE_CODE == 'de' %}
                <li>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input name="language" type="hidden" value="ru" />
                        <input class="limg" type="image" src="{% static 'images/Russia-Round.png' %}" alt="Submit" height="30">
                    </form>
                </li>
                <li>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input name="language" type="hidden" value="en" />
                        <input class="limg" type="image" src="{% static 'images/United-Kingdom-Round.png' %}" alt="Submit" height="30">
                    </form>
                </li>                
                {% else %}
                <li>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input name="language" type="hidden" value="en" />
                        <input class="limg" type="image" src="{% static 'images/United-Kingdom-Round.png' %}" alt="Submit" height="30">
                    </form>
                </li>
                <li>
                    <form action="/i18n/setlang/" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/" />
                        <input name="language" type="hidden" value="de" />
                        <input class="limg" type="image" src="{% static 'images/Germany-Round.png' %}" alt="Submit" height="30">
                    </form>
                </li>
                {% endif %}
                
            </ul>
        </div>
</div>

<!-- Main content of a page -->
<div id="content">
	{% block main %}
	{% endblock %}
</div>

<div id="footer">
(c) 2016 CARBON-SERVICE All rights reserved.
</div>
{% endblock %}