{% extends 'main.html' %}
{% load staticfiles i18n %}
{% block main %}   
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'ru' %} 
<div id="newsfull">
    <p class="title">
        {{ news.title_ru }}
        <div class="datetime" style="display: inline;">
            Опубликовано: {{ news.pub_date }}
        </div>
    </p>
    <div class="article">
        <div class="articlefull">
            <img src="{% static 'images/slider/1.jpg' %}" />
            <p class="content">
                {{ news.content_ru.rendered|safe }}
            </p>
        </div>
    </div>
</div>
{% else %}
<div id="newsfull">
    <p class="title">
        {{ news.title_en }}
        <div class="datetime" style="display: inline;">
            Published: {{ news.pub_date }}
        </div>
    </p>
    <div class="article">
        <div class="articlefull">
            <img src="{% static 'images/slider/1.jpg' %}" />
            <p class="content">
                {{ news.content_en.rendered|safe }}
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}