{% extends 'main.html' %}
{% load staticfiles %}
{% block main %}    
<div id="newsfull">
    <p class="title">
        {{ news.title }}
        <div class="datetime" style="display: inline;">
            Опубликовано: {{ news.pub_date }}
        </div>
    </p>
    <!-- NEWS ITEM BLOCK -->
    <div class="article">
        <div class="articlefull">
            <img src="{% static 'images/slider/1.jpg' %}" />
            <div class="content">
                {{ news.content }}
                <!-- <p>
                <b>Время проведения: 10.11.2010 - 12.11.2010</b><br />
                <i>Место проведения: Германия » Нюрнберг</i>
                </p>
                <p>
                49-я Европейская специализированная выставка индустрии производства 
                и сбыта напитков (сырье, оборудование, технологии, логистика, маркетинг)
                </p>
                <p>
                Выставка Brau Beviale 2010 на три дня объединяет на своих выставочных 
                площадках продавцов, покупателей, дистрибьюторов, производителей готовых 
                напитков, сырья, тары, оборудования и упаковки для них, а также компании, 
                которые предлагают новые технологии и дополнительные услуги в этой области.
                </p>
                <p>
                Значительная часть участников выставки - это специалисты, которые работают 
                в пивоварнях, предприятиях по производству и розливу безалкогольных напитков, 
                а также виноделы и представители гостиничного и ресторанного бизнеса. Всех их 
                на выставку привлекает большое количество интересных предложений, качественный 
                и количественный уровень участников, возможность увидеть оригинальные и инновационные 
                экспонаты, наладить новые деловые контакты.
                </p>
                <p>
                Свыше 1500 компаний представят свои стенды на суд профессионалов индустрии пива, а 
                также других алкогольных и безалкогольных напитков.
                </p>
                <p>
                Каждый год в ноябре в Нюрнберге ежегодно собираются до 40 000 посетителей.
                </p>
                <p>
                Приглашаем Вас посетить наш стенд 615 в зале 7/7.
                </p> -->
             </div>
        </div>
    </div>
    <!-- ENDBLOCK -->
</div>
{% endblock %}