{% extends 'main.html' %}
{% load thumbnail i18n %}
{% load staticfiles %}
{% block main %}    
<div id="news">
    {% if request.user.is_staff %}
        <a href="../admin/news/news/add/">
            <button style="float: right; margin-top: 12px;"> Добавить </button>
        </a>
    {% endif %}    
    <p class="title">Новости</p>
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ru' %}
        {% for news in news_list %}
        <a href="{% url 'news_detail' news_id=news.id %}">
            <div class="article">
                <img src="{{ news.image|thumbnail_url:'news_thumb' }}" />
                <div class="articleinfo">
                    <div class="newstitle">
                        {{ news.title_ru }}
                    </div>
                    <div class="content">
                        {{ news.short_content_ru }}
                    </div>
                    <div class="datetime">
                        {{ news.pub_date }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    {% else %}
        {% for news in news_list %}
        <a href="{% url 'news_detail' news_id=news.id %}">
            <div class="article">
                <img src="{{ news.image|thumbnail_url:'news_thumb' }}" />
                <div class="articleinfo">
                    <div class="newstitle">
                        {{ news.title_en }}
                    </div>
                    <div class="content">
                        {{ news.short_content_en }}
                    </div>
                    <div class="datetime">
                        {{ news.pub_date }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    {% endif %}
    <div class="article"></div>
</div>
{% endblock %}