{% extends 'main.html' %}
{% load i18n %}
{% load staticfiles %}
{% block main %}
<div id="about">
    <div class="slider">
        <ul>
            <li>
                <img src="{% static 'images/slider/1.jpg' %}" alt="image02" />
                <p>
                    {% trans 'Монтаж технологического оборудования и ЦКТ, "Ставропольский пивоваренный завод", г. Ставрополь' %}
                </p>
            </li>
            <li>
                <img src="{% static 'images/slider/2.jpg' %}" alt="image03" />
                <p>
                    {% trans '"РОСА", Казахстан, г. Павлодар монтаж ЦКТ, заказчик компания HOLVRIEKA.' %}
                </p>
            </li>
            <li>
                <img src="{% static 'images/slider/3.jpg' %}" alt="image03" />
                <p>
                    {% trans 'Увеличение размеров танков для воды, заказчик компания VAN DER MOLEN, "PEPSI COLA", Москва' %}
                </p>
            </li>                    
            <li>
                <img src="{% static 'images/slider/4.jpg' %}" alt="image01" />                
                <p>
                    {% trans 'Монтаж конвейеров линии розлива, заказчик компания KRONES, "PEPSI COLA", г. Самара' %}
                </p>
            </li>
        </ul>
    </div>
    <div id="abouttext">
        <h1 class="title">{% trans 'О компании' %} </h1>
        <p>
        {% blocktrans trimmed %}
            ООО «Карбон-Сервис» специализируется на монтаже и наладке процессного и упаковочного 
            оборудования на предприятиях пищевой, косметической и фармацевтической промышленностях.
        {% endblocktrans %}
        </p> 
        <p>
        {% blocktrans trimmed %}
            Имея 24-летний опыт работы в данной области, мы предлагаем смелые конструктивные 
            решения, которые позволяют сократить время монтажа и тем самым выиграть в сроках 
            реализации всего проекта.
        {% endblocktrans %}
        </p>
        <a href="{% url 'contact' %}">
            <button >{% trans 'Связаться с нами' %}</button>
        </a>
    </div>
</div>    
<div id="directions">
    <p class="title">{% trans 'Специализация' %}</p>
    <p>
    {% blocktrans trimmed %}
        На сегодняшний день мы приняли участие более чем в 50 проектах по монтажу оборудования углекислотных станций, емкостного оборудования, 
        отдельных агрегатов и целых участков производства. Нам по плечу передислокация как отдельных единиц оборудования, так и целых участков 
        действующего производства. Мы прокладываем кабельные трассы, расключаем электрооборудование, проводим тестирование. В случае 
        вашей заинтересованности мы готовы укомплектовать объект необходимыми материалами.
    {% endblocktrans %}
    </p>
    <div>
        <a href="#">
            <div class="ellipse">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
            </div>
        </a>
        <p class="sectitle">
            {% trans 'Пищевая отрасль' %}
        </p>
        <p class="description">
        {% blocktrans trimmed %}
            Используя передовые технологии производства и опираясь на свой квалифицированный персонал, 
            компания «Карбон-Сервис» гарантирует высокое качество выполняемых работ в различных отраслях пищевой промышленности.
        {% endblocktrans %}
        </p>
    </div>
    <div>
        <a href="#">
            <div class="ellipse">
                <i class="fa fa-medkit" aria-hidden="true"></i>
            </div>
        </a>
        <p class="sectitle">
             {% trans 'Фармацевтика' %}
        </p>
        <p class="description">
        {% blocktrans trimmed %}
            Инновационный подход и высокие качественные стандарты позволяют нам успешно претворять в жизнь 
            самые требовательные задачи в области технологических систем фармацевтической промышленности.
        {% endblocktrans %} 
        </p>
    </div>
    <div>        
        <a href="#">
            <div class="ellipse">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
        </a>
        <p class="sectitle">
            {% trans 'Косметика' %}
        </p>
        <p class="description">
        {% blocktrans trimmed %}
            Предприятие «Карбон-Сервис» является компетентным партнером и надежным поставщиком законченных 
            индивидуальных решений для технологических процессов и систем, применяемых, как в лабораторных, 
            так и в производственных масштабах.
        {% endblocktrans %}
        </p>
    </div>
    <div>
        <a href="#">
            <div class="ellipse">
                <i class="fa fa-car" aria-hidden="true"></i>
            </div>
        </a>
        <p class="sectitle">
            {% trans 'Автопром' %}
        </p>
        <p class="description">
        {% blocktrans trimmed %}
            Написать
        {% endblocktrans %}
        </p>
    </div>
    <div>
        <a href="#">
            <div class="ellipse">
                <i class="fa fa-flask" aria-hidden="true"></i>
            </div>
        </a>
        <p class="sectitle">
            {% trans 'Химия' %}
        </p>
        <p class="description">
        {% blocktrans trimmed %}
            Написать
        {% endblocktrans %}
        </p>
    </div>
    <div>
        <a href="#">
            <div class="ellipse">
                <img style="color: white; margin-top: 60px;" width="80" src="data:image/svg+xml;utf8;base64,
                PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NT
                ktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gL
                iBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAv
                c3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2F
                wYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDM4LjQ4NCAzOC40ODQiIHN0eWxlPSJlbmFibGUtYmFja2
                dyb3VuZDpuZXcgMCAwIDM4LjQ4NCAzOC40ODQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEycHgiIGhla
                WdodD0iNTEycHgiPgo8Zz4KCTxnIGlkPSJiMTk2X21pbGsiPgoJCTxwYXRoIGQ9Ik0xOC4zOTIsMy4xNDVjMC40MjEt
                MC4yNjYsMC43MS0wLjgzMiwwLjcxLTEuNDkyQzE5LjEwMiwwLjc0LDE4LjU0NywwLDE3Ljg2NCwwSDkuMDQ5QzguMzY
                2LDAsNy44MTMsMC43NCw3LjgxMywxLjY1MiAgICBjMCwwLjY2LDAuMjg4LDEuMjI3LDAuNzA5LDEuNDkyYy0xLjg5LD
                IuNTc0LTMuNzk5LDYuNzY0LTMuODk0LDYuOTcxbC0wLjExNSwwLjI1OHYwLjI3OXYyMy40MjJjMCwyLjQzLDEuOTc4L
                DQuNDEsNC40MDUsNC40MSAgICBoOS4wNzZjMi40MzEsMCw0LjQwOS0xLjk4LDQuNDA5LTQuNDFWMTAuNjUydi0wLjI4
                MWwtMC4xMTgtMC4yNTZDMjIuMTkxLDkuOTA4LDIwLjI4MSw1LjcxOSwxOC4zOTIsMy4xNDV6IE0xMy4zMjYsMTAuNjU
                yICAgIGMtMy4xMTEsMi4zMzQtNy41MTcsMC03LjUxNywwczIuMjg5LTUuMDUxLDQuMjI5LTcuMzQ2aDYuODM2YzEuOT
                M4LDIuMjk1LDQuMjI5LDcuMzQ2LDQuMjI5LDcuMzQ2UzE2LjQzNSw4LjMyLDEzLjMyNiwxMC42NTJ6IiBmaWxsPSIjR
                kZGRkZGIi8+CgkJPHBhdGggZD0iTTIyLjkzNCwyMy42NmwxLjA5NSwxNC40MzZoOC44NDlsMS4wOTQtMTQuNDM2SDIy
                LjkzNHogTTI4LjUzNywyNy43MzhjLTEuMjk2LDAuODc5LTQuNTE2LTAuMDItNC41MTYtMC4wMmwtMC4yNTEtMy4yNzk
                gICAgaDkuMzZsLTAuMjQ5LDMuMzE2QzMyLjg4MiwyNy43NTYsMjkuODMzLDI2Ljg1NywyOC41MzcsMjcuNzM4eiIgZm
                lsbD0iI0ZGRkZGRiIvPgoJPC9nPgoJPGcgaWQ9IkNhcGFfMV8xNzlfIj4KCTwvZz4KPC9nPgo8Zz4KPC9nPgo8Zz4KP
                C9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8
                Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K" />
            </div>
        </a>
        <p class="sectitle">
            {% trans 'Молочные продукты' %}
        </p>
        <p class="description">
        {% blocktrans trimmed %}
            Написать
        {% endblocktrans %}
        </p>
    </div>
</div>      
<div id="branches">
    <p class="title">{% trans 'Филиалы' %}  </p>
    <p>
    {% blocktrans trimmed %}
        Компания «Карбон-Сервис» имеет филиалы в таких странах, как Германия, Украина, Бразилия. Руководство компании работает в 
        направлении оптимизации реализации проектов, координирует выполнение проектов в реальном времени и всегда находится в 
        контакте со своими клиентами.
    {% endblocktrans %}
    </p> 
    <div>
        <img src="{% static 'images/Russia.png' %}" />
        <p>
            ООО «Кабон-сервис Россия» <br />
            Россия, 127322, г. Москва,<br />
            Огородный проезд, д. 20,  <br />
            Тел./факс: +7(495)789-0918<br />
            +7(499)760-5308           <br />
            Web: www.carbon-service.ru<br />
            E-mail: info@carbon-service.ru
        </p>
    </div>
    <div>
        <img src="{% static 'images/Germany.png' %}" />
        <p>
            CARBON-SERVICE<br />
            Deutschland GmbH<br />
            Ihlenfelder Str. 51, D-17034<br />
            Neubrandenburg<br />
            Phone: +49 395 4228289<br />
            Fax: +49 395 4555668<br />
            E-mail: <br />
            info@carbon-service-gmbh.eu
        </p>
    </div>
    <div>
        <img src="{% static 'images/Ukraine.png' %}" />
        <p>
            ООО «Карбон Сервис Украина»<br />
            Украина, г. Днепропетровск,<br />
            площадь Красная, д. 3, кв. 16<br />
            Тел: +38 056 375 23 75<br />
                    +38 056 375 23 75<br />
            E-mail: <br />
            carbon.service@vega.com.ua
        </p>
    </div>          
    <div>
        <img src="{% static 'images/Brazil.png' %}" />
        <p>
            CARBON SERVICE DO BRASIL<br />
            SERVICOS INDUSTRIAIS LTDA<br />
            Rua Franz De Catro Holzwarth,<br />
            103, room 313, Jacarei, Brasil, CEP.
            12300.000<br />
            Phone: +55 12 - 3951.14.75<br />
            +55 12 - 3952.59.83<br />
            E-mail: <br />
            vendas@carbonservice.com.br
        </p>
    </div>
</div>       
<div id="partners">
    <p class="title">Наши партнёры</p>
    <p>
    {% blocktrans trimmed %}
        Сегодня компании «Карбон-Сервис» выполняет монтаж оборудования, поставляемого ведущими производителями на передовых 
        предприятиях компаний производителей продукции:
    {% endblocktrans %}
    </p>
    <p> 
        <img src="{% static 'images/partners/partners.png' %}" style="width: 100%" />
    </p>
</div>
{% endblock %}