{% extends 'main.html' %}
{% load i18n %}
{% load staticfiles %}
{% block main %}
<div id="about">
    <div class="slider">
        <ul>
            <li>
                <img src="{% static 'images/slider/1.jpg' %}" alt="image02" />
                <p>
                    {% trans 'Монтаж конвейеров линии розлива, заказчик компания KRONES, "PEPSI COLA", г. Самара' %}
                </p>
            </li>
            <li>
                <img src="{% static 'images/slider/2.jpg' %}" alt="image03" />
                <p>
                    {% trans 'Монтаж технологического оборудования и ЦКТ, "Ставропольский пивоваренный завод", г. Ставрополь' %} 
                </p>
            </li>
            <li>
                <img src="{% static 'images/slider/3.jpg' %}" alt="image03" />
                <p>
                    {% trans '"РОСА", Казахстан, г. Павлодар монтаж ЦКТ, заказчик компания HOLVRIEKA.' %}
                </p>
            </li>                    
            <li>
                <img src="{% static 'images/slider/4.jpg' %}" alt="image01" />                
                <p>
                    {% trans 'Увеличение размеров танков для воды, заказчик компания VAN DER MOLEN, "PEPSI COLA", Москва' %}
                </p>
            </li>
        </ul>
    </div>
    <div id="abouttext">
        <h1 class="title">{% trans 'О компании' %} </h1>
        <p>
        {% blocktrans trimmed %}
            ООО «Карбон-Сервис» специализируется на монтаже и наладке процессного и упаковочного 
            оборудования на предприятиях пищевой, косметической и фармацевтической промышленностях.
        {% endblocktrans %}
        </p> 
        <p>
        {% blocktrans trimmed %}
            Имея 24-летний опыт работы в данной области, мы предлагаем смелые конструктивные 
            решения, которые позволяют сократить время монтажа и тем самым выиграть в сроках 
            реализации всего проекта.
        {% endblocktrans %}
        </p>
        <a href="{% url 'contact' %}">
            <button >{% trans 'Связаться с нами' %}</button>
        </a>
    </div>
</div>    
<div id="directions">
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ru' or LANGUAGE_CODE == 'ru-ru' %}
        {% for industry in industrys %}
			<a href="{% url 'showcase' industry=industry.key %}">
				<div>
                    <div class="ellipse">
                        <img style="margin-top: 55px;" src="{{ industry.src }}" />
                    </div>
					<p class="sectitle">
						{{ industry.title_ru }}
					</p>
					<p class="description">
						{{ industry.description_ru }}
					</p>
				</div>
			</a>
        {% endfor %}
    {% else %}
        {% for industry in industrys %}
			<a href="{% url 'showcase' industry=industry.key %}">
				<div>
					<div class="ellipse">
						<img style="margin-top: 55px;" src="{{ industry.src }}" />
					</div>
					<p class="sectitle">
						{{ industry.title_en }}
					</p>
					<p class="description">
						{{ industry.description_en }}
					</p>
				</div>
			</a>
        {% endfor %}
    {% endif %}
</div>      
<div id="branches">
    <p class="title">{% trans 'ОФисы компании' %}  </p>
    <p>
    {% blocktrans trimmed %}
        Компания «Карбон-Сервис» имеет представительства в таких странах, как Германия, Украина, Бразилия. Руководство компании 
		работает в направлении оптимизации реализации проектов, координирует выполнение проектов в реальном времени и всегда 
		находится в контакте со своими клиентами.
    {% endblocktrans %}
    </p> 
    <div>
        <img src="{% static 'images/Russia.png' %}" />
        <p>
            ООО «Кабон-сервис Россия» <br />
            Россия, 127322, г. Москва,<br />
            Огородный проезд, д. 20,  <br />
            Тел./факс: +7(495)789-0918<br />
            +7(499)760-5308           <br />
            Web: www.carbon-service.ru<br />
            E-mail: info@carbon-service.ru
        </p>
    </div>
    <div>
        <img src="{% static 'images/Germany.png' %}" />
        <p>
            CARBON-SERVICE<br />
            Deutschland GmbH<br />
            Ihlenfelder Str. 51, D-17034<br />
            Neubrandenburg<br />
            Phone: +49 395 4228289<br />
            Fax: +49 395 4555668<br />
            E-mail: <br />
            info@carbon-service-gmbh.eu
        </p>
    </div>
    <div>
        <img src="{% static 'images/Ukraine.png' %}" />
        <p>
            ООО «Карбон Сервис Украина»<br />
            Украина, г. Днепропетровск,<br />
            площадь Красная, д. 3, кв. 16<br />
            Тел: +38 056 375 23 75<br />
                    +38 056 375 23 75<br />
            E-mail: <br />
            carbon.service@vega.com.ua
        </p>
    </div>          
    <div>
        <img src="{% static 'images/Brazil.png' %}" />
        <p>
            CARBON SERVICE DO BRASIL<br />
            SERVICOS INDUSTRIAIS LTDA<br />
            Rua Franz De Catro Holzwarth,<br />
            103, room 313, Jacarei, Brasil, CEP.
            12300.000<br />
            Phone: +55 12 - 3951.14.75<br />
            +55 12 - 3952.59.83<br />
            E-mail: <br />
            vendas@carbonservice.com.br
        </p>
    </div>
</div>       
<div id="partners">
    <p class="title">{% trans 'Наши партнёры' %}</p>
    <p>
    {% blocktrans trimmed %}
        Сегодня компании «Карбон-Сервис» выполняет монтаж оборудования, поставляемого ведущими производителями на передовых 
        предприятиях компаний производителей продукции:
    {% endblocktrans %}
    </p>
    <p> 
        <img src="{% static 'images/partners/partners.png' %}" style="width: 100%" />
    </p>
</div>
{% endblock %}