{% extends 'main.html' %}
{% load staticfiles %}
{% block main %}    
<div id="news">    
    <p class="title">Фотогалерея</p>
    <div id="popup">
        <div>
            <img src="" />
            <p> Описание картинки. Очень длинное, чтобы можно было увидеть, как себя поведут элементы, 
            если вот прямо сюда понаписать очень много букв. А потом в конец предложения дописать ещё 
            несколько букв. А потом написать целый рассказ о том, как ты писал много букв в описание 
            к картинке. Зачем? </p>
            <i class="fa fa-close" aria-hidden="true" onclick="Close(this)" ></i>
        </div>
    </div>
    <!-- PHOTO EXAMPLE BLOCK -->
    <div class="photo" onclick="Open(this)" >
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <img src="{% static 'images/slider/1.jpg' %}" />
        <div>
            <p>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                23.07.2016
            </p>
            <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                15:09
            </p>
        </div>
    </div>
    <!-- ENDBLOCK -->
    <!-- PHOTO EXAMPLE BLOCK -->
    <div class="photo" onclick="Open(this)" >
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <img src="{% static 'images/slider/2.jpg' %}" />
        <div>
            <p>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                23.07.2016
            </p>
            <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                15:09
            </p>
        </div>
    </div>
    <!-- ENDBLOCK -->    
    <script>       
        function Open(div) {
            var popup = document.getElementById('popup');
            popup.setAttribute("style", "visibility: visible; opacity: 1;");
            popup.children[0].children[0].src = div.children[1].src;
        }             
        function Close(i) {
            var target = i.parentElement.parentElement;
            target.setAttribute("style", "opacity: 0; visibility: hidden; transition: visibility 0.21s, opacity 0.2s linear;");
        }        
    </script>
</div>
{% endblock %}