{% extends 'main.html' %}
{% load i18n %}
{% load staticfiles %}
{% block main %}      
<div id="about">
<a>
    <div class="ellipse">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
    </div>
    </a>
    <div id="abouttext">
        <h1 class="title"><a href="{% url 'main' %}">О компании</a> » Пищевая отрасль</h1>
        <p>
        {% blocktrans trimmed %}
            Используя передовые технологии производства и опираясь на свой квалифицированный персонал, 
            компания «Карбон-Сервис» гарантирует высокое качество выполняемых работ в различных отраслях 
            пищевой промышленности.
        {% endblocktrans %}
        </p> 
        <p>
        {% blocktrans trimmed %}
            На сегодняшний день мы установили более 40 линий розлива напитков в стеклянную, ПЭТ или 
            баночную упаковку, принимали участие более чем в 50 проектах по монтажу оборудования 
            углекислотных станций, емкостного оборудования, отдельных агрегатов и целых участков 
            производства.
        {% endblocktrans %}
        </p>
    </div>
    <p class="title" style="margin-top: 30px;">Реализованные проекты</p>
</div>   
{% endblock %}