{% extends 'main.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block main %}    
<div id="photos">   
    {% if request.user.is_staff %}
    <a href="../admin/galery/galeryitem/add/">
        <button style="float: right; margin-top: 12px;"> Добавить </button>
    </a>
    {% endif %}
    <p class="title">Галерея</p>
    <div id="popup">
        <div>
            <img src="" />
            <p> Описание картинки. Очень длинное, чтобы можно было увидеть, как себя поведут элементы, 
            если вот прямо сюда понаписать очень много букв. А потом в конец предложения дописать ещё 
            несколько букв. А потом написать целый рассказ о том, как ты писал много букв в описание 
            к картинке. Зачем? </p>
            <i class="fa fa-close" aria-hidden="true" onclick="Close(this)" ></i>
        </div>
    </div>
    {% for item in items %}
    <div class="photo" onclick="Open(this)" >
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        {% if LANGUAGE_CODE == 'en' %}
            <img src="{{ item.image|thumbnail_url:'galery_thumb' }}" alt="{{ item.description_en }}"/>
        {% else %}
            <img src="{{ item.image|thumbnail_url:'galery_thumb' }}" alt="{{ item.description_ru }}"/>
        {% endif %}
        <div class="{{ item.image.url }}">
            <p>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ item.pub_date.date }}
            </p>
            <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{ item.pub_date.time }}
            </p>
        </div>
    </div>
    {% endfor %}  
    <script>       
        function Open(div) {
            var popup = document.getElementById('popup');
            popup.setAttribute("style", "visibility: visible; opacity: 1;");
            popup.children[0].children[0].src = div.children[2].className;
            popup.children[0].children[1].innerHTML = div.children[1].alt;
        }             
        function Close(i) {
            var target = i.parentElement.parentElement;
            target.setAttribute("style", "opacity: 0; visibility: hidden; transition: visibility 0.21s, opacity 0.2s linear;");
        }        
    </script>
</div>
{% endblock %}